body{
	background-color:#1f1e1d;
}
#header{
	padding:1.25%;
	margin-bottom:5%;
	background-color:#3a403c;
	font-size:2em;
	color:#dee0e3;
}

#title{
	margin-left:12.5%;
	font-size:1.2em;
	color:#dee0e3;
}

#main{
	width:70%;
	margin-left:15%;
	background-color:#3a403c;
	padding-top:2.5%;
	padding-bottom:2.5%;
	margin-right:15%;
}

input[type = number]{
	margin-left:12.5%;
	width:75%;
	font-size:1.2em;
	background-color:#dee0e3;
}

#submit{
	margin-left:40%;
	width:20%;
	font-size:1.2em;
}

table{
	margin-left:12.5%;
	width:75%;
	padding:2.5%;
	
}

input[type = button]{
	margin-left:5%;
	width:90%;
	font-size:1em;
	margin-top:1%;
	padding-top:1.25%;
	padding-bottom:1.25%;
}

input[type = button]:hover{
	background-color:#4076b8;
	color:#dee0e3;
	border:none;
}

input[type = button]:focus{
	background-color:#4076b8;
	color:#dee0e3;
}

textarea{
	margin-left:12.5%;
	width:75%;
	height:20%;
	background-color:#dee0e3;
	font-size:1.2em;
}
